# ignore everything (dirs, files, sub-dirs, sub-files)
/*
# but do not ignore the .gitignore file
!.gitignore

# do not ignore fish dir (needed due to the above bullet point)
!/packages
# ignore files and sub dirs in the /fish directory
/packages/*
# but do not ignore the config.fish file
!/packages/camera

# ignore file and sub dirs in the /packages/camera/ directory
/packages/camera/*

# but do not ignore following directories
!/packages/camera/camera
!/packages/camera/camera_android
!/packages/camera/camera_android_camerax
!/packages/camera/camera_avfoundation
!/packages/camera/camera_platform_interface
